apiVersion: v1
kind: PersistentVolume
metadata:
    name: mongodb-standalone
    namespace: {{ .Values.mongo.namespace }}
spec:
  capacity:
    storage: 2Gi
  volumeMode: Filesystem
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: mongodb-standalone
  local:
    path: /run/desktop/mnt/host/c/k8-training
  nodeAffinity:
    required:
      nodeSelectorTerms:
        - matchExpressions:
            - key: kubernetes.io/hostname
              operator: In
              values:
                - docker-desktop